{% load static %}
<!-- Navbar-->
<header
  class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
  data-scroll-header
>
  <div class="container">
    <a class="navbar-brand ms-3 ms-xl-4 logo" href="{% url 'home' %}"
      ><img
        class="d-block"
        src="{% static 'img/logo/logo-dark.svg' %}"
        width="116"
        alt="VidaHome"
    /></a>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span></button
    ><a
      class="btn btn-sm text-primary d-none d-lg-block order-lg-3"
      href="#signin-modal"
      data-bs-toggle="modal"
      ><i class="fi-user me-2"></i>ورود به حساب کاربری</a
    ><a
      class="btn btn-primary btn-sm ms-2 order-lg-3"
      href="#"
      ><i class="fi-plus me-2"></i>ثبت<span class="d-none d-sm-inline"> ملک</span></a
    >

    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">صفحه اصلی</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >شهرها</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'cities_directory' %}"
                ><i class="fi-map-pin fs-base opacity-50 me-2"></i>همه شهرها</a
              >
            </li>
            {% if header_cities %}
            <li><hr class="dropdown-divider" /></li>
            {% for city in header_cities %}
            <li>
              <a class="dropdown-item" href="/s/{{ city.slug }}/"
                ><i class="fi-building fs-base opacity-50 me-2"></i>{{ city.fa_name }}</a
              >
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'categories:directory' %}">دسته‌بندی‌ها</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="#signin-modal" data-bs-toggle="modal"
            ><i class="fi-user me-2"></i>ورود به حساب کاربری</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
