<!-- Partners (carousel)-->
<section class="container mb-5 pb-2 pb-lg-4">
  <h2 class="h3 mb-4 text-right text-md-start">مشاوران املاک</h2>
  <div
    class="tns-carousel-wrapper tns-nav-outside tns-nav-outside-flush"
    dir="ltr"
  >
    <div
      class="tns-carousel-inner"
      data-carousel-options='{"items": 6, "controls": false, "responsive": {"0":{"items":2}, "500":{"items":4}, "992":{"items":5, "gutter": 16}, "1200":{"items":6, "gutter": 24}}}'
    >
      <div>
        <a class="swap-image" href="#"
          ><img
            class="swap-to"
            src="img/real-estate/brands/01_color.svg"
            alt="Logo"
            width="196" /><img
            class="swap-from"
            src="img/real-estate/brands/01_gray.svg"
            alt="Logo"
            width="196"
        /></a>
      </div>
      <div>
        <a class="swap-image" href="#"
          ><img
            class="swap-to"
            src="img/real-estate/brands/02_color.svg"
            alt="Logo"
            width="196" /><img
            class="swap-from"
            src="img/real-estate/brands/02_gray.svg"
            alt="Logo"
            width="196"
        /></a>
      </div>
      <div>
        <a class="swap-image" href="#"
          ><img
            class="swap-to"
            src="img/real-estate/brands/03_color.svg"
            alt="Logo"
            width="196" /><img
            class="swap-from"
            src="img/real-estate/brands/03_gray.svg"
            alt="Logo"
            width="196"
        /></a>
      </div>
      <div>
        <a class="swap-image" href="#"
          ><img
            class="swap-to"
            src="img/real-estate/brands/04_color.svg"
            alt="Logo"
            width="196" /><img
            class="swap-from"
            src="img/real-estate/brands/04_gray.svg"
            alt="Logo"
            width="196"
        /></a>
      </div>
      <div>
        <a class="swap-image" href="#"
          ><img
            class="swap-to"
            src="img/real-estate/brands/05_color.svg"
            alt="Logo"
            width="196" /><img
            class="swap-from"
            src="img/real-estate/brands/05_gray.svg"
            alt="Logo"
            width="196"
        /></a>
      </div>
      <div>
        <a class="swap-image" href="#"
          ><img
            class="swap-to"
            src="img/real-estate/brands/06_color.svg"
            alt="Logo"
            width="196" /><img
            class="swap-from"
            src="img/real-estate/brands/06_gray.svg"
            alt="Logo"
            width="196"
        /></a>
      </div>
    </div>
  </div>
</section>
