<!-- Property cost calculator-->
<section class="container mb-5 pb-2 pb-lg-4">
  <div class="row align-items-center">
    <div class="col-md-5">
      <img
        class="d-block mx-md-0 mx-auto mb-md-0 mb-4 rotate-img"
        src="img/real-estate/illustrations/calculator.svg"
        width="416"
        alt="Illustration"
      />
    </div>
    <div class="col-xxl-6 col-md-7 text-md-start text-center">
      <h2 class="">محاسبه آنلاین و سریع هزینه ملک دلخواه شما</h2>
      <p class="pb-3 fs-base">
        ما املاک خوب زیادی داریم و یکی از آنها این املاک است و برای آن کاتالوگ
        شما را ترتیب داده ایم. لطفا بر روی زیر کلیک کنید! <br />
        فضای داخلی از حجم ، فضا ، هوا ، نسبت ، با نور و روحیه خاص. این فضای
        داخلی برای همیشه ماندگار است. این واقعا موثر است و ما می توانیم به راحتی
        این کار را برای مشتریان خود مدیریت کنیم.
      </p>
      <a
        class="btn btn-lg btn-primary"
        href="#cost-calculator"
        data-bs-toggle="modal"
        ><i class="fi-calculator me-2"></i>شروع کن</a
      >
    </div>
  </div>
</section>
