{% load humanize %}
<!-- Top offers -->
<section class="container mb-5 pb-md-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="h3 mb-0">پیشنهادهای جدید ملک</h2>
    <a class="btn btn-link fw-normal p-0" href="{% url 'listing_catalog' %}">مشاهده همه <i class="fi-arrow-long-left me-2"></i></a>
  </div>
  {% if top_offers %}
  <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside tns-nav-outside-flush mx-n2" dir="ltr">
    <div class="tns-carousel-inner row gx-4 mx-0 pt-3 pb-4" data-carousel-options='{"items": 4, "responsive": {"0":{"items":1},"500":{"items":2},"768":{"items":3},"992":{"items":4}}}'>
      {% for listing in top_offers %}
      <div class="col">
        {% include "partials/listing_card.html" with listing=listing %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="card shadow-sm border-0">
    <div class="card-body text-center py-5 text-muted">هنوز آگهی منتشرشده‌ای برای نمایش وجود ندارد.</div>
  </div>
  {% endif %}
</section>
