{% extends "base/base.html" %}

{% block content %}
  <h1 class="mb-3">{{ seo_h1|default:area.fa_name }}</h1>

  <p class="text-muted mb-4">
    منطقه {{ area.fa_name }} در شهر
    <a href="/s/{{ city.slug }}/" class="link-secondary text-decoration-none">
      {{ city.fa_name }}
    </a>
  </p>

  {% if intro_content %}
    <p class="lead">{{ intro_content }}</p>
  {% endif %}

  {% if main_content %}
    <div class="content mt-5">
      {{ main_content|safe }}
    </div>
  {% endif %}
{% endblock %}
