{% extends "base/base.html" %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}
{% block extra_head_js %}
<!-- Page loading scripts-->
<script>
  (function () {
    window.onload = function () {
      var preloader = document.querySelector('.page-loading');
      preloader.classList.remove('active');
      setTimeout(function () {
        preloader.remove();
      }, 2000);
    };
  })();

</script>
{% endblock extra_head_js %}
{% block body %}
<!-- Body-->
<main class="page-wrapper">
  {% include "partials/loading_spinner.html" %}
  {% include "partials/SignInModal.html" %}
  {% include "partials/SignUpModal.html" %}
  {% include "partials/header.html" %}
  <!-- Page content-->
  {% block title %}شهرها | VidaHome{% endblock %}
  {% block content %}

  <br></br>
  <div class="container">

    <h1 class="mb-3">{{ seo_h1 }}</h1>
    {% if intro_content %}<p class="lead">{{ intro_content }}</p>{% endif %}
    {# لیست محله‌ها #}
    {% if areas %}
    <div class="mt-4">
      {% for a in areas %}
      <a href="/s/{{ city.slug }}/{{ a.slug }}/" class="btn btn-outline-secondary m-1">{{ a.fa_name }}</a>
      {% endfor %}
    </div>
    {% endif %}
    {% if main_content %}<div class="content mt-5">{{ main_content|safe }}</div>{% endif %}
  </div>
  {% endblock content %}
</main>
{% include "partials/footer.html" %}
{% include "partials/Backtotopbutton.html" %}
{% include "base/scripts.html" %}
{% endblock body %}
{% block extra_js %}
{% endblock extra_js %}