@font-face {
    font-family: "IRANSans";
    src: url("../../fonts/IRANSans/IRANSansWeb.eot");
    src:
        url("../../fonts/IRANSans/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/IRANSans/IRANSansWeb(FaNum).woff") format("woff"),
        url("../../fonts/IRANSans/IRANSansWeb.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family-primary: "IRANSans", sans-serif;
}

html,
body,
input,
textarea,
select,
button {
    font-family: "IRANSans", sans-serif !important;
}
